/********************************************
 * Project: Comic Inventory
 * Team: Guardians of the GitHub
 * Date: 2019-05-09
*********************************************/
body {
    background-image: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)), url("../images/marvel.jpg");
    -webkit-background-size: cover;
   -moz-background-size: cover;
    background-size: cover;
}

h4{
    font-family: 'Bangers';
}

img {
    width: 300px;
    height: 300px;
}

tr:nth-child(odd){
    background-color: #f2f2f2;
}

.active{
    color: gray;
    font-size: 15px;
}

.addNewUser  {
    background-color: red;
}

.btn {
    background-color: red;
}

.header {
    font-family: 'Bangers';
    background-color: red;
    color: white;
}

.inventory-item:hover {
    background-color: #ffff99 !important;
}

.login-user {
    background-color: red;
}

.remove {
    margin-top: 6px;
}
.waves-effect:hover {
    background-color: #b71c1c;
}

#group-desc, #issue-desc, #char-desc {
    font-weight: bold;
 }

#header, tr:nth-child(even){
    background-color: #ffffff;
}

#modal-confirm {
    width: 20%;
    font-family: 'Kodchasan', sans-serif;
    text-align: center;
}

#modal-confirm-header {
    font-family: 'Bangers';
    color: white;
    background-color: red;
    text-align: center;
}

.dropin-char-wrapper {
    position: absolute;
    height: 400px;
    width: 100%;
    margin: 0;
    padding: 0;
    bottom: 100%; 
    left: 0; 
    z-index: 20; 
    animation:  5s;
}

.dropin-char {
    position: relative;
}

#dropin-char-img {
    height: 400px;
}

.start-btn {
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    border: 10px white;
    border-radius: 10px;
}

#modal-search {
    padding: 10px;
}
