/********************************************
 * Project: Comic Inventory
 * Team: Guardians of the GitHub
 * Date: 2019-05-09
*********************************************/

.header {
    font-family: 'Bangers';
    background-color: red;
    color: white;
}

#modal-confirm-header {
    font-family: 'Bangers';
    color: white;
    background-color: red;
    text-align: center;
}

#modal-confirm {
width: 20%;
}

#modal-marvel{
    background-color: red;
}

h4{
    font-family: 'Bangers';
}

.addNewUser  {
    background-color: red;
}

.login-user{
    background-color: red;
}

.btn{
    background-color: red;
}

body {
    background-image: url("./marvel-characters.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}